.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
  }
  
  .home-logo {
    width: 60%;
    margin-bottom: 50px;
  }
  
  .links-container {
    margin-top: 20px;
    width: 300px;
    text-align: center;
  }
  
  .link-item {
    display: block;
    padding: 15px;
    margin: 10px 0;
    background-color: #111;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
  }
  
  .link-item:hover {
    background-color: #222;
  }
  
  .contact-text {
    margin-top: 20px;
  }
  
  .contact-link {
    color: #fff;
    text-decoration: none;
  }
  
  .contact-link:hover {
    text-decoration: underline;
  }
