body {
  background-color: #784c3d;
}
.container-fluid {
  background-color: #784c3d;
  padding-top: 24px;
}
.border-panel {
  background-color: #784c3d;
}
.container {
  background-color: white;
  border-radius: 16px;
  padding: 16px;
}
