body {
    background: #000000;
}
.header-row {
    border-bottom: 2px solid #000000;
    background: #7f7f7f;
    color: #ffffff;
}
.odd-row {
    background: #cccccc;
}
.even-row {
    background: #ffffff;
}
.right-justified {
    text-align: right;
}