body {
  background-color: #000000;
}
.container {
  background-color: red;
  padding: 16px;
  border: 16px;
  border-radius: 8px; 
}
.container-fluid {
  background-color: blue;
}
.border-panel {
  background-color: green;
  padding: 16px;
  border: 16px;
  border-radius: 8px;
}