body {
  background-color: brown;
}
.container-fluid {
  background-color: brown;
}
.border-panel {
  background-color: brown;
  padding-top: 20px;
}
.container {
  background-color: white;
  border-radius: 16px;
  padding: 16px;
}
