body {
  background-color: black;
}
.container-fluid {
  background-color: black;
}
.border-panel {
  background-color: black;
  padding: 20px;
}
.container {
  background-color: red;
  border: 20px;
  border-radius: 10px; 
}
