body {
    background-color: #f8f9fa;
  }
  
  .border-panel {
    position: relative;
    margin: 2rem;
    padding: 2rem;
    border: 2px solid #dee2e694;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #dddddddb;
  }
  